<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}E-libra {% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <style>
      html,
      body,
      .container-fluid,
      .row,
      .sidebar,
      .main {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <aside class="col-md-3 col-lg-2 sidebar aside1">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a href="{{ url_for('main.profile') }}" class="nav-link text-light">Profile</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('main.dashboard') }}" class="nav-link text-light">Dashboard</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('auth.logout') }}" class="nav-link text-light">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{{ url_for('auth.login') }}" class="nav-link text-light">Login</a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('auth.signup') }}" class="nav-link text-light">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </aside>

        <!-- Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main">
          <div class="container-fluid">
            {% block content %}
            <div class="row">
              <div class="col-lg-12">
                <h1 class="mt-5">E-libra</h1>
              </div>
            </div>
            {% endblock %}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap JS (use the CDN link or host the file locally) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
