{% extends 'base.html' %} {% block content %}
<h1>Books</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">
  Add Book
</button>

<table class="table">
  <thead>
    <tr>
      <th>n.o</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Publisher</th>
      <th>Category</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.category.name }}</td>
      <td>{{ book.author.author_name }}</td>
      <td>
        <form action="{{ url_for('main.delete_book', id=book.id) }}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add Book Modal -->
<div
  class="modal fade"
  id="addBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addBookModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="addBookForm"
          method="post"
          enctype="multipart/form-data"
          action="{{ url_for('main.book') }}"
        >
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control", id="title") }}
          </div>
          <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control", id="description") }}
          </div>
          <div class="form-group">
            {{ form.price.label }} {{ form.price(class="form-control", id="price") }}
          </div>
          <div class="form-group">
            {{ form.publisher.label }} {{ form.publisher(class="form-control", id="publisher") }}
          </div>
          <div class="form-group">
            {{ form.author.label }} {{ form.author(class="form-control", id="authorSelect") }}
          </div>
          <div class="form-group">
            {{ form.category.label }} {{ form.category(class="form-control", id="categorySelect") }}
          </div>
          <div class="form-group">
            {{ form.image.label }} {{ form.image(class="form-control-file", id="imageInput") }}
          </div>
          <div class="form-group">
            {{ form.file.label }} {{ form.file(class="form-control-file", id="fileInput") }}
          </div>

          <button type="submit" class="btn btn-primary mt-3">Add Book</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
