{% extends 'base.html' %} {% block content %}
<form id="uploadForm" action="{{ url_for('main.book') }}" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" name="title" id="titleInput" />
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea class="form-control" name="description" id="descriptionInput" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="priceInput">Price</label>
    <input type="text" class="form-control" name="price" id="priceInput" />
  </div>
  <div class="form-group">
    <label for="publisherInput">Publisher</label>
    <input type="text" class="form-control" name="publisher" id="publisherInput" />
  </div>
  <div class="form-group">
    <label for="authorSelect">Author</label>
    <select class="form-control" name="author" id="authorSelect">
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.author_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="fileInput">Upload Book File</label>
    <input type="file" class="form-control-file" name="file" id="fileInput" />
  </div>
  <div class="form-group">
    <label for="categorySelect">Category</label>
    <select class="form-control" name="category" id="categorySelect">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Upload Book</button>
</form>
<div id="response">
  <!-- Use Bootstrap grid and card components for image display -->
  <div class="container">
    <div class="row" id="imageContainer"></div>
  </div>
</div>
{% endblock %}
